@model ZamowKsiazke.ViewModel.CreateRoleViewModel

@{
    ViewData["Title"] = "Utwórz Rolę";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h2 class="mb-0">Utwórz rolę</h2>
                </div>
                <div class="card-body">
                    <form asp-action="CreateRole" method="post">
                        <div class="mb-3 row">
                            <label asp-for="RoleName" class="col-sm-3 col-form-label">Nazwa roli</label>
                            <div class="col-sm-9">
                                <input asp-for="RoleName" class="form-control" placeholder="Wprowadź nazwę roli" />
                                <span asp-validation-for="RoleName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <a asp-action="ListAllRoles" class="btn btn-warning"><i class="fa-solid fa-backward-step"></i> Powrót</a>
                            <button type="submit" class="btn btn-success"><i class="fa-solid fa-check"></i> Utwórz rolę</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>