@using Microsoft.AspNetCore.Identity
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Wszystkie role";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                    <h2 class="mb-0">Wszystkie role</h2>
                    <a class="btn btn-light" asp-action="CreateRole"><i class="fa-solid fa-users"></i> Utwórz rolę</a>
                </div>
                <div class="card-body">
                    @if(Model.Any())
                    {
                        <table class="table table-striped table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Nazwa roli</th>
                                    <th class="text-center">Akcje</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var role in Model)
                                {
                                    <tr>
                                        <td>@role.Name</td>
                                        <td class="text-center">
                                            <a asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                                            <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post" class="d-inline">
                                                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Czy na pewno chcesz usunąć tę rolę?');">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <h5 class="text-center">Brak ról. Użyj przycisku, aby dodać rolę.</h5>
                    }
                </div>
            </div>
        </div>
    </div>
</div>